<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>

    <style>
        body {
            font-family: Arial;
            background: linear-gradient(to right, #d7ccc8, #efebe9);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            color: #5d4037;
            font-size: 32px;
        }

        p {
            color: #6d4c41;
        }
    </style>

    <script>
        setTimeout(function() {
            window.location.href = "/login";
        }, 3000);
    </script>

</head>

<body>

<div>
    <h1>⚖ Welcome to Judiciary Management System</h1>
    <p>Loading... Please wait ⏳</p>
</div>

</body>
</html>